<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310503296847-0lmipufst0iphg4qpfrve8uibc8e7tdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310503296847-0lmipufst0iphg4qpfrve8uibc8e7tdf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310503296847-4j1g6dsfrhsmc04tm8pcmd5hi7hpugp2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6fndZd9IQf3fKAcEWEKxsnvYDI9emnB0</string>
	<key>GCM_SENDER_ID</key>
	<string>310503296847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nivasity.app</string>
	<key>PROJECT_ID</key>
	<string>nivasity</string>
	<key>STORAGE_BUCKET</key>
	<string>nivasity.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310503296847:ios:d68431467342a3689c3f3a</string>
</dict>
</plist>
